.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  column-gap: 40px;
}

h1 {
  align-self: center;
  margin: 0;
}

.page-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

section {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
}

.user-avatar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}

.avatar {
  height: 100%;
  width: 100%;
}

.profile-pic-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  margin: 0;

}


.upload-btn {
  cursor: pointer;
  background: grey;
  padding: 10px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.upload-remove-btn {
  position: absolute;
  top: 10px;
  left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid black;
  font-size: large;
  font-weight: bold;
  background: white;
  color: grey;
  padding: 4px;
  box-shadow: rgba(0, 0, 0, 0.8) -1px 6px 10px 0;
  cursor: pointer;
  transition: all ease .3s;
}

.upload-remove-btn:hover,
.upload-remove-btn:focus {
  background-color: grey;
  color: white;
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  font-size: 4em;
  color: white;
  transition: all ease .3s;
}

.hidden {
  display: none;
}

svg {
  height: 100px;
  width: 100px;
  aspect-ratio: auto;
  transition: all ease .3s;
}

.avatar-wrapper:hover,
.avatar-wrapper:focus {
  background-color: white;
  color: grey;
  box-shadow: inset rgba(0, 0, 0, 0.8) 0 0 15px;
  font-size: 3.8em;
}

.avatar-wrapper:hover > svg,
.avatar-wrapper:focus > svg {
  scale: 1.1;
}

.details-wrap {
  align-self: stretch;
}

main {
  display: flex;
  flex-direction: column;
  flex: 3 0 0;
  background: lightgray;
}

